<!-- 

/*
    FELIPE BARBOSA FRONTOROLI           RA: 20748825
    FELIPE NEGRI VIEIRA                 RA: 20970332
    LEONARDO SANCHES DO NASCIMENTO      RA: 20982131
    PHILIPE TIAGO CUNHA                 RA: 20931241
*/

-->

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <title>Game Land</title>

        <!-- Bootstrap -->
        <link href="../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Fonts -->
        <link href="../../resources/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


        <!-- Estilos -->
        <link href="../../css/creative.css" rel="stylesheet">

    </head>

    <body id="page-top">
<!-- Menu Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="../../index.php#page-top">Game Land</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="../../View/Sobre/sobre.html">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="../../index.php#categorias">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="../../View/Servicos/servicos.html">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="../../View/Contato/contato.html">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="../../View/Login/login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="../../View/Cadastro/cadastro.html">cadastre-se</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="../../View/Compra/carrinhoDeCompras.html">carrinho</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="bg-primary" id="cadastro">
            <div class="container">
                <div class="row">
                    <div class="mx-auto ">
                        <h2 class="section-heading text-white">Cadastro</h2>
                        <div class="row">
                            <form action="confCadastro.php" method="POST">
                                <div class="form-row text-white">
                                    <div class="form-group col-md-6 ">
                                        <label for="inputNome">Nome</label>
                                        <input type="text" class="form-control" name="nomeUsuario" placeholder="GAME LAND DA SILVA">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">CPF</label>
                                        <input type="text" class="form-control" name="cpfUsuario" placeholder="CPF">
                                    </div>
                                </div>
                                <div class="form-group text-white">
                                    <label for="inputAddress">Endereço</label>
                                    <input type="text" class="form-control" name="enderecoUsuario" placeholder="Rua dos Bobos, nº 0">
                                </div>
                                <div class="form-group text-white">
                                    <label for="inputAddress2">Email</label>
                                    <input type="email" class="form-control" name="emailUsuario" placeholder="contato@gameland.com">
                                </div>
                                <div class="form-group text-white">
                                    <label for="inputPassword4">Senha</label>
                                    <input type="password" class="form-control" name="senhaUsuario" placeholder="Senha">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 text-white">
                                        <label for="inputCity">Cidade</label>
                                        <input type="text" class="form-control" name="cidadeUsuario" placeholder="Cidade">
                                    </div>
                                    <div class="form-group col-md-4 text-white">
                                        <label for="inputEstado">Estado</label>
                                        <select class="form-control" name="estadoUsuario">
                                            <option selected>Escolher...</option>
                                            <option>São Paulo</option>
                                            <option>Rio de Janeiro</option>
                                            <option>Minas Gerais</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2 text-white">
                                        <label for="inputCEP">CEP</label>
                                        <input type="text" class="form-control" name="cepUsuario" placeholder="12345678">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check text-white">
                                        <input class="form-check-input" type="checkbox" id="gridCheck" name="aceitacaoUsuario">
                                        <label class="form-check-label" for="gridCheck" >
                                            Aceito os termos de games
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-light btn-xl js-scroll-trigger" type="submit" >Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- Bootstrap  JavaScript -->
        <script src="../../resources/jquery/jquery.min.js"></script>
        <script src="../../resources/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="../../resources/jquery-easing/jquery.easing.min.js"></script>
        <script src="../../resources/scrollreveal/scrollreveal.min.js"></script>

        <script src="../../js/creative.js"></script>

    </body>

</html>